<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>skolera.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
				<key>dateExpires</key>
				<string>1/29/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CalendarKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Chatto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>ChattoAdditions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DateToolsSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Device_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Down.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Imaginary.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>JTAppleCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KMPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lightbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NRAppUpdate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Neon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RichTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TPKeyboardAvoiding.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>YLProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>iosMath.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>49BD250BF5FF97CBAFEFB4E633AE8DCB6822838F</string>
						<key>dateExpires</key>
						<string>1/29/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6SRFH5FCU2</string>
						<key>name</key>
						<string>Skolera ULP</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6SRFH5FCU2.com.skolera.skolera</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.skolera.skolera</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>6SRFH5FCU2</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.skolera.skolera</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>6SRFH5FCU2.com.skolera.skolera</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>6SRFH5FCU2.com.skolera.skolera</string>
				</array>
			</dict>
			<key>name</key>
			<string>skolera.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0305ddc7-5e44-4f71-8c4e-622d8d3dcbbc</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.skolera.skolera</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6SRFH5FCU2</string>
				<key>name</key>
				<string>Skolera ULP</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
