<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>742721869641-48ra6qad1c80a9i90tqa8orhd6daut9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742721869641-48ra6qad1c80a9i90tqa8orhd6daut9h</string>
	<key>API_KEY</key>
	<string>AIzaSyA_PGOdpdh1McApGPTyeEE1L1LgDctQvMw</string>
	<key>GCM_SENDER_ID</key>
	<string>742721869641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skolera.skolera</string>
	<key>PROJECT_ID</key>
	<string>bedopedia-225ee</string>
	<key>STORAGE_BUCKET</key>
	<string>bedopedia-225ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742721869641:ios:c8dbb29c9a7a5627</string>
	<key>DATABASE_URL</key>
	<string>https://bedopedia-225ee.firebaseio.com</string>
</dict>
</plist>